<gen-header title="Vertragssuche"></gen-header>
<form [formGroup]="form">
  <gen-search-bar placeholder="Vertragsnummer" (search)="searchVertraege()" formControlName="search"></gen-search-bar>

  <div class="container">
    <div class="error-message col-12" *ngIf="!form.valid">
      Die Sucheingabe darf nicht leer sein!
    </div>
  </div>
</form>


<gen-table>
  <gen-table-line
    *ngFor="let vertrag of vertraege; let isEven=even"
    [cols]="[vertrag.vertragsnummer, vertrag.bezeichnung, vertrag.versicherungsnehmer]"
    [even]="isEven"
    [routerLink]="['/details', vertrag.vertragsnummer]"
  >
  </gen-table-line>
</gen-table>
